---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
---

<Layout>
  <Container>
    <div style="text-align:center">
      <h2>404</h2>
      <p>Page not found</p>
    </div>
  </Container>
</Layout>
