---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
---

<Layout>
  <Container>
    <section>
      <h1>About Us</h1>
      <p>
        Iovino's Catering offers full-service catering with individual menus
        designed to fit your individual needs for your special occasion. We
        offer platter menu options for delivery or beautiful full-service
        catering buffet.
      </p>

      <p>
        Menus are designed to fit your budget and special requests during your
        event. We look forward to assisting you in creating a memorable occasion
        for you and your guests.
      </p>
    </section>
  </Container>
</Layout>
