---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Container>
    <h1>Contact</h1>
    <p>Get in touch with us for catering inquiries, bookings, or questions!</p>
    <ul>
      <li>Email: info@ivcatering.com</li>
      <li>Phone: (541) 908-9544</li>
    </ul>
  </Container>
</Layout>
