---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Container>
    <h1>Home</h1>
    <p>You make the call…we do it all!</p>
  </Container>
</Layout>
