---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Container>
    <h1>Home</h1>
    <p>Welcome to our catering website!</p>
  </Container>
</Layout>
