---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
---

<Layout>
  <Container>
    <section>
      <h1>Menu</h1>
      <ul>
        <li>Appetizer Platter</li>
        <li>Seasonal Salad</li>
        <li>Roast Chicken</li>
        <li>Vegetarian Pasta</li>
        <li>Dessert Sampler</li>
      </ul>
    </section>
  </Container>
</Layout>
