---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";

import { getMenuRichText } from "../content/contentfulService.js";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

const menuRichText: any = await getMenuRichText();
---

<Layout>
  <Container>
    <section>
      <h1>Menu</h1>
      {menuRichText && <div set:html={documentToHtmlString(menuRichText)} />}
    </section>
  </Container>
</Layout>
