---
const { pathname } = Astro.url;

const links = [
  { path: "/", text: "Home" },
  { path: "/about", text: "About" },
  { path: "/gallery", text: "Gallery" },
  { path: "/contact", text: "Contact" },
];
---

<nav>
  <ul>
    {
      links.map((link) => (
        <li>
          <a href={link.path} class={pathname === link.path ? "active" : ""}>
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    background: #f8f8f8;
    padding: 1rem;
  }
  nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.25em 0.75em;
  }
  nav a:hover {
    color: #0077cc;
  }
  nav a.active {
    border-radius: 4px;
    text-decoration: underline;
    /* padding: 0.25em 0.75em; */
  }
</style>
